@import url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900);

.first-color {
  color: #222831;
}

.second-color {
  color: #393e46;
}

.third-color {
  color: #f96d00;
}

.fourth-color {
  color: #f2f2f2;
}

.five-color {
  color: #0077b5;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 9em;
}
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
  text-align: left;
}

.container__background_img {
  background-image: url("../images/sao_paulo_1.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

article {
  padding: 0 0 25vh 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.header img {
  height: 50px;
  width: 100%px;
}

.header h1 {
  border-radius: 8px;
}

.nav-header {
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.nav-header a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.3rem;
}
.nav-header a:hover {
  border-bottom: 0.5rem solid #f2f2f2;
}

.nav-header a::selection {
  border-bottom: 0.5rem solid #f2f2f2;
}

/* Home - Sobre*/

.section_home {
  width: 100%;
  margin: 0 auto;
}

main,
.section_curiosidades,
.section_videos {
  margin-top: 18vh;
}

.section_home header,
.section_curiosidades header,
.section_videos header {
  height: 84px;
}

.section_home header h2,
.section_curiosidades header h2,
.section_videos header h2 {
  position: absolute;
  left: 10vw;
}

.container__home {
  width: 80vw;
  margin: 0 auto;
  padding: 12px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  justify-content: center;
}

/* home sobre*/

.home__sobre {
  letter-spacing: 1.2px;
  min-width: 506px;
  color: #222831;
  justify-content: space-evenly;
  width: 70%;
}
.home__sobre h2 {
  font-size: 18px;
  margin: 0;
  background-color: rgb(242, 242, 242, 0.9);
  padding: 12px 18px;
  border-radius: 1rem 1rem 0 0;
  align-items: left;
  border-bottom: 3px solid #222831;
}
.home__sobre p {
  line-height: 1.5;
  font-size: 18px;
  background-color: rgb(242, 242, 242, 0.9);
  margin-top: 0;
  padding: 22px 32px;
  text-align: left;
  border-bottom: 3px solid #222831;
  border-top: 3px solid #222831;
}

/* home dados*/

.home__dados {
  min-height: 30vh;
  padding: 0;
  border-radius: 1rem;
  color: #222831;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  min-width: 506px;
}

.home__dados h2 {
  font-size: 18px;
  margin: 0;
  background-color: rgb(242, 242, 242, 0.9);
  border-bottom: 3px solid #222831;
  padding: 12px 18px;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

.home_dados_gerais_geograficos {
  background-color: rgb(242, 242, 242, 0.9);
  font-size: 18px;
  margin: 0;
  border-bottom: 3px solid #222831;
  border-top: 3px solid #222831;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.home_dados_gerais_geograficos ul {
  line-height: 1.7;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.figure_home {
  text-align: center;
  padding: 0;
  margin: 0;
}

.figure_home img {
  width: 100%;
}

/* Curiosidades*/
.section_home h2,
.section_curiosidades h2,
.section_videos h2 {
  width: fit-content;
  height: fit-content;
  border-bottom: 0.5rem solid #f2f2f2;
  border-right: 0.5rem solid #f2f2f2;
  border-left: 0.5rem solid #f2f2f2;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
}
.container__curiosidades {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.curiosidades__item_1,
.curiosidades__item_2,
.curiosidades__item_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;
  max-width: 370px;
  max-height: 528px;
  margin: 1rem;
  background-color: rgba(242, 242, 242, 0.9);
  border-radius: 1rem 1rem 0 0;
  color: #393e46;
  line-height: 1.7;
  font-size: 18px;
}

.curiosidades__item_1 img,
.curiosidades__item_2 img,
.curiosidades__item_3 img {
  max-width: 100%;
  height: 246px;
  border-radius: 1rem 1rem 0 0;
}

.curiosidades__item_1 p,
.curiosidades__item_2 p,
.curiosidades__item_3 p {
  max-width: 600px;
  border-radius: 1rem 1rem 0 0;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}

/*Videos*/

.section_videos {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding-bottom: 140px;
}

.section_videos div {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin-top: 1rem;
}

.section_videos iframe {
  border-radius: 1rem 1rem 0 0;
  border: 4px solid rgb(249, 109, 0, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 70%;
  height: 512px;
}

/* footer*/

.footer {
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.copyright_title {
  display: flex;
  justify-content: center;
  order: 1;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.copyright_logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.copyright_logos a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f96d00;
  gap: 0.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.copyright_logos a img {
  width: 100%;
  max-width: 35px;
  max-height: 35px;
}
